@import "mixins";
@import "responsiveMixins";
/**
*
*/

$dark: black;
$light: #fff;

$primary: green;

.imageContainer {
  width: 100%;
}
.container {
  max-width: 1500px;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin: auto;
}

.nested {
  padding: 20px;

  border-radius: 5px;

  h1 {
    color: $primary;
  }

  img {
    max-width: 300px;
    display: block;
    margin: auto;
  }
}

@include mobileview() {
  .container {
    grid-template-columns: repeat(1, 1fr);
  }
  .nested {
    background-color: lighten($color: red, $amount: 20%);
  }
}

@include tabview() {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
  .nested {
    background-color: lighten($color: orange, $amount: 20%);
  }
}

@include desktopView() {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@include box() {
  .container {
    margin-top: 30px;
  }
  .nested {
    box-shadow: greenyellow 0px 5px 15px;
  }
}

:export {
  container: container;
  dark: $dark;
  light: $light;
}
