@import "mixins";

$primary: black;
$secondary-color: green;
$primary-font: "Helvetica Neue", Helvetica, Arial, sans-serif;

//nested , we can write a complete container style.
.nested {
  background-color: $secondary-color;
  font-family: $primary-font;
  h1 {
    color: green;
  }
}

// resposnsiveness

.button {
  width: 100px;
  height: 40px;
  border: 2px solid white;
  border-radius: 8px;
  display: block;
  margin: auto;
  font-size: 18px;
  font-weight: 600;
}

@include mobileview() {
  .nested {
    background-color: greenyellow;
  }
}

@include tabview {
  .nested {
    background-color: orangered;
    h1 {
      color: white;
    }
  }
}

:export {
  primary: $primary;
  secondary: $secondary-color;
  nested: nested;
  button: button;
}
